{
  admin off
  log {
    output file /var/log/caddy/access.log
    level INFO
  }
  servers :443 {
    protocols h1 h2 h3
  }
}

:80 {
  redir https://{host}{uri} permanent
}

:443, your_domain.com  # 将 your_domain.com 替换为你实际的域名 {
  tls your@email.com  # 将 your@email.com 替换为你的邮箱地址
  route {
    forward_proxy {
      basic_auth user_name your_password  # 设置用户名和密码，替换为你实际的值
      hide_ip
      hide_via
      probe_resistance www.nature.com # 使用一个秘密域名，修改为你自己的值
    }
    file_server {
      root /var/www/html
    }
  }
}